

.button {
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}



  .buttonView {
    background-color: white;
    color: black;
    border: 2px solid #132743;
  }

  .buttonView:hover {
    background-color: #19d3da;
    color: white;
  }

.buttonEliminar {
    background-color: white;
        color: black;
        border: 2px solid #af2d2d;
  }

  .buttonEliminar:hover {
     background-color: #f05454;
        color: white;
  }
