<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-sm-2 mr-0" routerLink="/home">Task-man</a>
  <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search" (keyup)="buscar()">

  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()"> Sign up</button>
  </form>
</nav>
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush" >
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/home" style=" color: white;">Mis Tareas</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/proyectos" style=" color: white;">Proyectos </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/perfilUsuario" style=" color: white;">Perfil de Usuario</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <main role="main" class="ml-sm-auto col-lg-11 " style="margin-top: 155px;">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalNuevoProyecto">Crear Proyecto</button>
        </div>
      </div>
      <div *ngIf="tarea" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{tarea.titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{tarea.estado}}</h6>
          <p class="card-text">{{tarea.descripcion}}</p>
          <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="terminar()">Terminar</button>
          <button type="button" class="btn btn-dark" (click)="cancelar()">Cancelar</button>
        </div>
      </div>

      <h2 style="margin-top: 14px;">Mis Proyectos</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody *ngIf="proyectos" >
          <tr *ngFor="let proyecto of proyectos; let i = index">
            <td>{{i+1}}</td>
            <td>{{proyecto.nombre}}</td>
            <td><button type="button" class="btn btn-primary" (click)="view(proyecto.id)">View</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </main>
    <div class="modal fade" id="modalNuevoProyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Crear nuevo proyecto
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="formProyecto" #formProyecto="ngForm" (ngSubmit)="onCreate(formProyecto)">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="Proyecto">Nuevo Proyecto</label>
                  <input type="text" id="nombreProyecto" name="name" class="form-control" placeholder="nombre" [(ngModel)]="proyecto">
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Guardar Proyecto</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
</body>
