<div class="modal fade" id="modalNuevaTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Nueva Tarea
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formNuevaTarea" #formNuevaTarea="ngForm" (ngSubmit)="onCreate(formNuevaTarea)">

          <div class="form-group ">
            <label for="Titulo">Titulo</label>
            <input type="text" id="titulo" name="name" class="form-control" placeholder="titulo" [(ngModel)]="titulo">
          </div>
          <div class="form-group ">
            <label for="Descripcion">Descripcion</label>
            <textarea type="textarea" id="descripcion" name="name" class="form-control" placeholder="descripcion" [(ngModel)]="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label class="custom-radio-checkbox">

              <!-- Input oculto -->
              <input class="custom-radio-checkbox__input" type="checkbox" name="expandir" value="0" [(ngModel)]="isCheck" (click)="expandirFormulario()" [attr.data-testid]="'checkTareaCompleja'">
              <!-- Imagen en sustitucion -->
              <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
              <!-- Texto -->
              <span class="custom-radio-checkbox__text">Tareas Complejas</span>

            </label>

            <!--<label for="TareaAvanzada">Tareas Complejas</label>
            <input type="checkbox" name="expandir" value="0" [(ngModel)]="isCheck" (click)="expandirFormulario()">-->
          </div>
          <div id="tareaCompleja" [attr.data-testid]="'divTareaCOmpleja'">
            <div class="form-group ">
              <label for="FechaEstimada">Fecha Estimada</label>
              <input type="date" id="FechaEstimada" name="name" class="form-control" [(ngModel)]="fechaEstimada" [attr.data-testid]="'tareaCOmplejafechaEstimada'"/>
            </div>
            <div class="form-group">
              <select  class="mdb-select md-form" name="miselect" [(ngModel)]="seleccionado" >
                <option [value]="item" *ngFor="let item of lista">{{item}}</option>
              </select>
              <label   style="margin-left: .5rem;">Prioridad </label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Guardar Tarea</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
