<body>
<app-navbar-component></app-navbar-component>
<div class="clearfix" style="clear: both;margin-top: 45px;"></div>
    <main role="main" >
      <div class="container shadow-lg p-3 mb-7  rounded" style="margin-top: 15px;background-color: #16bdc4 !important;">
        <div class="row">
          <div class="col-10">
            <h1>Configuración de Perfil de Usuario</h1>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark btn-block" (click)="volverAlHome()">
              <small>Volver al Home</small><i class="fa fa-angle-double-left"></i>
            </button>
          </div>
        </div>
        <hr>

        <form class="col-12" #formPerfil="ngForm" (ngSubmit)="actualizarPerfil(formPerfil)">
          <div class="alert alert-success" role="alert" *ngIf="isCheck">
            El usuario ha sido actualizado correctamente.
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="isInvalid">
            Debes completar los campos!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            El usuario y/o correo electronico ya esta siendo utilizada
          </div>
          <div class="form-row">
            <div class="form-group col-md-4" id="email-group">
                <label >Correo electronico</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                  </div>
                  <input type="text" id="Email" name="email" class="form-control" placeholder="Correo electronico" [(ngModel)]="usuario.email" disabled>
                </div>
              </div>

              <div class="form-group col-md-4" id="user-group">
                <label >Nombre de usuario</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span>
                  </div>
                  <input type="text"   id="usuario" name="usuarioNombre" class="form-control" placeholder="Nombre Usuario" [(ngModel)]="usuario.usuario" disabled>
                </div>
              </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4"  id="nombre-group">
                <label >Nombre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-address-card" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" id="UsuarioNombre" name="UsuarioNombre"  class="form-control " placeholder="Nombre" [(ngModel)]="usuario.nombre" required>
                </div>
              </div>
              <div class="form-group col-md-4" id="apellido-group">
                <label >Apellido </label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="fa fa-address-card" aria-hidden="true"></i></span>
                  </div>
                  <input type="text"   id="usuarioapellido" name="usuarioapellido" class="form-control" placeholder="Apellido" [(ngModel)]="usuario.apellido" required>
                </div>
              </div>
            </div>


          <br>
          <br>

          <div class="row">
            <div class="col-md-4">
              <a href="#" data-toggle="modal" data-target="#modalCambiarContraseña"> desea cambiar la contraseña?</a>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-4">
              <button type="submit" class=" btn btn-lg btn-outline-dark btn-block"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar Perfil</button>
            </div>
          </div>



        </form>
      </div>

      <div class="modal fade" id="modalCambiarContraseña" tabindex="-1" role="dialog" aria-labelledby="exampleModalCambiarContraseña" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content d-block ">
            <div class="modal-header  d-block">
              <h5 class="modal-title  text-center" id="exampleModalLabel" >Cambiar contraseña</h5>
              <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <div class="alert alert-success " role="alert" *ngIf="isCheckContrasenha">
                La contraseña ha sido actualizada correctamente.
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="isErrorContrasenhaNotIgual">
               La contraseña nueva no coincide.
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="isErrorContrasenhaActualNotIgual">
               Contraseña Invalida.
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="isErrorFaltanCompletarCampos">
               Faltan completar los campos.
              </div>


                <div class="form-group" id="contrasenhaActual-group">
                  <label >Contraseña actual</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" > <i class="fa fa-lock" aria-hidden="true"></i> </span>
                    </div>
                    <input type="password"   id="contrasenhaActual" name="password" class="form-control" placeholder="Password" [(ngModel)]="passwordActual" required>
                  </div>
                </div>


              <div class="form-group " id="contrasenhaNueva-group">
                <label >Contraseña nueva</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-lock" aria-hidden="true"></i> </span>
                  </div>
                  <input type="password"   id="contrasenhaNueva" name="password" class="form-control" placeholder="Password" [(ngModel)]="passwordNew" required>
                </div>
              </div>

              <div class="form-group " id="contrasenhaNuevaRep-group">
                <label >Repetir la  contraseña nueva</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-lock" aria-hidden="true"></i> </span>
                  </div>
                  <input type="password"   id="contrasenhaNuevaRep" name="password" class="form-control" placeholder="Password" [(ngModel)]="passwordNewRep" required>
                </div>
              </div>

              <div class="row">
                <div class="col" >
                  <button type="submit" class=" btn btn-lg btn-outline-dark btn-block" (click)="actualizarContrasenha()" > <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar contraseña</button>
                </div>
              </div>

              </div>

            </div>

          </div>
        </div>

    </main>
</body>

