<body>
<app-navbar-component></app-navbar-component>
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush" >
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/home" style=" color: white;">Mis Tareas</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/proyectos" style=" color: white;">Proyectos </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" style=" color: white;">Perfil de Usuario</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <main role="main" class="ml-sm-auto col-lg-11 ">
      <div class="container " style="margin-top: 155px;">
        <div class="row">
          <div class="col-10">
            <h1>Configuración de Perfil de Usuario</h1>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-dark" (click)="volverAlHome()">
              <small >Volver al Home</small><i class="fa fa-angle-double-left"></i>
            </button>
          </div>
        </div>
        <hr>

        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" id="email-group">
                <label >Correo electronico</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                  </div>
                  <input type="text" id="Email" name="email" class="form-control" placeholder="Correo electronico" [(ngModel)]="usuario.email" required>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group" id="user-group">
                <label >Nombre de usuario</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="fa fa-user" aria-hidden="true"></i></span>
                  </div>
                  <input type="text"   id="usuario" name="usuarioNombre" class="form-control" placeholder="Nombre Usuario" [(ngModel)]="usuario.usuario" required>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group" id="nombre-group">
                <label >Nombre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" > <i class="fa fa-address-card" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" id="UsuarioNombre" name="UsuarioNombre" class="form-control" placeholder="Nombre" [(ngModel)]="usuario.nombre" required>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" id="apellido-group">
                <label >Apellido </label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" ><i class="fa fa-address-card" aria-hidden="true"></i></span>
                  </div>
                  <input type="text"   id="usuarioapellido" name="usuarioapellido" class="form-control" placeholder="Apellido" [(ngModel)]="usuario.apellido" required>
                </div>
              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="row">
            <div class="col-md-4">
              <a href="#" > desea cambiar la contraseña?</a>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-4">
              <button class=" btn btn-lg btn-outline-dark btn-block" (click)="actualizarPerfil()"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Actualizar Perfil</button>
            </div>
          </div>



        </form>
      </div>

    </main>
  </div>
</div>
</body>

