<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-sm-2 mr-0" routerLink="/home">Task-man</a>
  <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search" (keyup)="buscar()">

  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()"> Sign up</button>
  </form>
</nav>
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush" >
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/home" style=" color: white;">Mis Tareas</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/proyectos" style=" color: white;">Proyectos </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" style=" color: white;">Perfil de Usuario</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <main role="main" class="ml-sm-auto col-lg-11 " style="margin-top: 155px;">
      <p>perfil-usuario works!</p>
    </main>
  </div>
</div>
</body>

