
<body>
<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="https://waycomputer.com.ar/SYS/WAY/img/avatares/a3.png">
      </div>
      <form  class="col-12" #formRegistrar="ngForm" (ngSubmit)="onIngresar()">
        <div class="form-group" id="user-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"> <i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="email" id="Email" name="email" class="form-control" placeholder="Correo electronico" [(ngModel)]="user.username" required>
          </div>

        </div>
        <div class="form-group" id="contrasena-group">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>
            <input type="password"   id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>
          </div>



        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar</button>
        <button class="btn btn-lg btn-dark btn-block" (click)="registrar()" > Registrarse</button>
        <br>
      </form>
    </div>
  </div>
</div>
</body>
