<!--<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-sm-2 mr-0" routerLink="/home" style=" color: white;">Task-man</a>
  <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search" (keyup)="buscar()">

  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()"> Log out</button>
  </form>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" >
  <div class="container">
    <div class="Logo">
      <a class="navbar-brand" href="#">Task-man</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--  col-auto empieza -->
    <div class="button-links" style="text-align: center">
      <div class="col-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item ">
              <a class="nav-link" href="#" routerLink="/home">Mis tareas </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/proyectos" >Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/perfilUsuario" >Perfil de Usuario</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="buscador">
      <div>
        <div >
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="button buttonNavbar" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
    <div style="text-align: right;">
      <button class="button buttonNavbar"  (click)="logout()" > Cerrar Sesion</button>
    </div>
    <!--  col-auto termina -->
  </div>
</nav>
