hr{
background: white;
 }



.button {
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

  .buttonTerminar {
    background-color: white;
    color: black;
    border: 2px solid #213e3b;
  }

  .buttonTerminar:hover {
    background-color: #41aea9;
    color: white;
  }


  .buttonCancelar {
    background-color: white;
    color: black;
    border: 2px solid #af2d2d;
  }

  .buttonCancelar:hover {
    background-color: #f05454;
    color: white;
  }
