<body>
<app-navbar-component></app-navbar-component>
    <main  role="main"  style="margin-top: 155px;">
      <div class="container">
        <hr>
        <h2>Mis tareas</h2>
        <hr>
        <div class="row">
          <div class="col-md-3 mt-4" *ngFor="let tarea of misTareas ">
            <div class="card text-center ">
              <div class="card-body">
                <h5 class="card-title">{{tarea.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{tarea.estado}}</h6>
                <p class="card-text">{{tarea.descripcion}}</p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <button type="button" class="button buttonTerminar" style="margin-right: 10px" (click)="terminar(tarea.id)">Terminar</button>
                  <button type="button" class="button buttonCancelar"  (click)="cancelar(tarea.id)">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

</body>
