<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-2 col-sm-2 mr-0" routerLink="/home">Task-man</a>
  <input class="form-control form-control-dark w-50" type="text" placeholder="Search" aria-label="Search" (keyup)="buscar()">

  <form class="form-inline my-2 my-lg-0">

    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()"> Log out</button>
  </form>
</nav>
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush" >
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/home" style=" color: white;">Mis Tareas</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/proyectos" style=" color: white;">Proyectos </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark" routerLink="/perfilUsuario" style=" color: white;">Perfil de Usuario</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <main role="main" class="ml-sm-auto col-lg-11 " >
      <h2 style="margin-top: 155px;">Mis tareas</h2>
      <hr>
      <div class="row">
        <div class="col-md-3 mt-4" *ngFor="let tarea of misTareas ">

          <div class="card text-center border-dark" style="box-shadow: 0px 0px 9px 4px grey;">
            <div class="card-body">
              <h5 class="card-title">{{tarea.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{tarea.estado}}</h6>
              <p class="card-text">{{tarea.descripcion}}</p>
              <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="terminar(tarea.id)">Terminar</button>
              <button type="button" class="btn btn-dark" (click)="cancelar(tarea.id)">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</body>
