hr{
background: white;
 }

.button {
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.list-group{
  font-weight: bold;
  font-family: monospace;
  font-size: 11px;
  text-transform: uppercase;
}

.list-group-item {
  color: grey;
  background-color: #212121 !important;
}

.list-group-item:hover {
  color: white;
}

  .buttonView {
    background-color: white;
    color: black;
    border: 2px solid #132743;
  }

  .buttonView:hover {
    background-color: #19d3da;
    color: white;
  }

.buttonEliminar {
    background-color: white;
        color: black;
        border: 2px solid #af2d2d;
  }

  .buttonEliminar:hover {
     background-color: #f05454;
        color: white;
  }


  .buttonTerminar {
    background-color: white;
    color: black;
    border: 2px solid #213e3b;
  }

  .buttonTerminar:hover {
    background-color: #41aea9;
    color: white;
  }


  .buttonCancelar {
    background-color: white;
    color: black;
    border: 2px solid #af2d2d;
  }

  .buttonCancelar:hover {
    background-color: #f05454;
    color: white;
  }
