<body>
<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="https://waycomputer.com.ar/SYS/WAY/img/avatares/a3.png">
      </div>
      <form  class="col-12" [formGroup]="usuarioForm" (ngSubmit)="onRegistrar(formRegistrar)">


        <div class="alert alert-danger" role="alert" *ngIf="isInvalid && !(email.errors != null && email.errors.pattern)">
          Debes completar correctamente todos los campos
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="isInvalid && (email.errors != null && email.errors.pattern)">
          Introduzca una dirección de correo electrónico válida.
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="isError">
          El usuario o el correo ya esta siendo utilizado
        </div>

        <div class="form-group" id="user-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"> <i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario"  formControlName="usuario" >
          </div>
        </div>

        <div class="form-group" id="nombre-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"> <i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" >
          </div>
        </div>
        <div class="form-group" id="apellido-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"> <i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" id="apellido" name="apellido" class="form-control" placeholder="apellido"  formControlName="apellido"  >
          </div>
        </div>

        <div class="form-group" id="email-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3"> <i class="fa fa-envelope" style="font-size: 15px; " aria-hidden="true"></i></span>
            </div>
            <input type="email" id="Email" name="email" class="form-control" placeholder="Correo electronico"  formControlName="email" >
          </div>
        </div>
        <div class="form-group" id="contrasena-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon4"><i class="fa fa-lock" aria-hidden="true"></i></span>
            </div>
            <input type="password"   id="password" name="password" class="form-control" placeholder="Password" formControlName="password" >
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block"><i class="fa fa-user-plus" aria-hidden="true"></i> Registrarse</button>
        <button type="button" routerLink="/login" class="btn btn-lg btn-dark btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i> Inicio de Sesion</button>
        <br>
      </form>
    </div>
  </div>
</div>

</body>
