<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
				<div class="card-register">
					<div class="card">
						<div class="card-body text-center">
							<form #formRegistrar="ngForm" (ngSubmit)="onRegistrar()">
								<h1 class="h3 mb-3 font-weigth-normal">Registrar</h1>
								<div class="form-group">
									<input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" [(ngModel)]="user.usuario" required>
								</div>
								<div class="form-group">
									<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="user.nombre" required>
								</div>
								<div class="form-group">
									<input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido" [(ngModel)]="user.apellido" required>
								</div>
								<div class="form-group">
									<input type="text" id="email" name="email" class="form-control" placeholder="email" [(ngModel)]="user.email" required>
								</div>
								<div class="form-group">
									<input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" required>

								</div>
								<button type="submit" class="btn btn-lg btn-primary">
									Registrar									
								</button>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>